{
    "LogFile": "D:\\Users\\zi\\Documents\\sodawaveliveLogs.txt",
    "CommandPrefix": "-",
    "Twitch":
    {
        "Username": "slithering_jake",
        "Oauth": "oauth:[redacted]",
        "Channels":
        [
            "underscorezi",
            "sodawavelive"
        ]
    },
    "Ignore":
    {
        "Accounts":
        [
            "c02_bot",
            "limeoatsbot",
            "slithering_jake"
        ],
        "Prefixes":
        [
            "!",
            "."
        ]
    },
    "MinimumMessageLength": 4,
    "MessageInterval": 35,
    "StreamerName": "dan"
}