{
  "log_file": "sodawaveliveLogs.txt",
  "quote_file": "sodawaveQuotes.txt",
  "minimum_message_length": 5,
  "message_interval": 35,
  "streamer_name": "dan",
  "ignore":
  {
    "accounts":
    [
      "c02_bot",
      "limeoatsbot"
    ],
    "prefixes":
    [
      "!",
      "."
    ]
  },
  "twitch":
  {
    "Username": "slithering_jake",
    "Oauth": "oauth:[redacted]",
    "channels": ["underscorezi", "sodawavelive"]
  },
  "use_interval": 60,
  "command_prefix": "-"
}